.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    max-width: 625px;
    min-width: 200px;
    border: 1.5px solid #221718;
    border-radius: 50px;
    background-color: white;
    box-shadow: 3px 3px 1px gray;

    padding: {
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
    }

    margin: {
        top: 70px;
        left: auto;
        right: auto;
        bottom: 90px;
    }
    
}